.slider {
    width: 50%;
    margin: 10rem auto;
    border-top: 1px solid $primaryColor;    
}
// .slick-slide {
//   margin: 0px 20px;
// }
// .slick-slide img {
//   width: 100%;
// }
.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 5rem;
  font-weight: 800; 
}
// .slick-slide {
//   transition: all ease-in-out .3s;
//   opacity: .2s;
// }

// .slick-active {
//   opacity: .5;
// }
// .slick-current {
//   opacity: 1;
// }
.slick-next
{
right: -20rem;

    @include respond(phone) {
        right: -8rem;
    }
}
.slick-prev
{
    left: -20rem;
        
        @include respond(phone) {
            left: -8rem;
        }
}

.slick-prev, .slick-next {
    overflow: visible;
    height: 8rem;
    width: 8rem;
}

.slide__description {
    position: absolute;
    padding: 2rem;
    bottom: 0;
    background: $color-gray-dark-3;
    opacity: .8;
    border-radius: 0 45px 0 0;
    
    
    @include respond(phone){
        padding: 0;
        border-radius: 0 45px 0 0;
        width: auto;
        padding-top: 1rem;
        padding-right: 1rem;
        opacity: .6;
    }
}

.slide {
    
    &__title {
        
    }
    
    &__text {
        
        &__skills {
            margin-left: 2rem;
            
            
        
           & li {
            //    display: inline-block;
               list-style-type: circle;
               color: $color-white;
               
               
           } 
        }
    }
    
    &__link {
       
        padding: .3rem;
        margin-top: 1rem;
        
        &:link,
        &:visited {
            
        }

        &:hover,
        &:active {
            
        }
    }
}