.about-me {

    &__story {
        margin: 5rem 10rem;
        
        @include respond(phone){
            margin: 5rem 1rem;
        }
    }

    &__skills {

        margin: 5rem 10rem;
        
        @include respond(phone){
            margin: 5rem 1rem;
            padding-bottom: 2rem;
        }
        

        & ul {
            padding-left: 2rem;
        }

        &--list {
            padding-right: 3rem;
            & li {
           
                &:not(:last-child) {
                    padding-right: 2rem;
                }
                display: inline-block;
                
                // @include respond(phone) {
                //     list-style-type: disc;
                //     display: block;
                // }
            }
        }
    }
    
    &__hire-me {
        
        padding: 1rem;
        
        &:link,
        &:visited {
            color: $color-white;
            /*background-color: gray;*/
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            border-style: outset; 
            transform: all .2s;
        }

        &:hover,
        &:active {
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba(0,0,0, .4);
            transform: scale(1.3, 1.5);
            background-color: transparent;
        }
        
    }
    
}



