.large-hero {
  position: relative;
  color: $txt;
  height: 100vh;
  width: 80%;
  margin: auto;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

